body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f0f8ff;
}

.sidebar-item {
  padding: 10px 5px;
}



#sidebar {
  flex-grow: 1; 
  padding:5px;
  min-width: 100px;
  max-width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#sidebar.collapsed {
  margin-left: -264px;
}

.sidebar-link {
  color: #f0f8ff;
}

td[data-field="emissions"] {
  text-align: right;
}

.navbar-item a {
  display: inline-block;
  /* Makes the link behave like a box */
  padding: 10px;
  /* Controls the clickable area */
  text-decoration: none;
  /* Removes underline from the link */
  color: black;
  border-radius: 10px;
  /* Adds rounded corners to the clickable area */
}

.logo {
  width: 40px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
}

.header-ul {
  align-items: center;
  /* display: flex; */
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  justify-content:center;
  text-align: center;
  /* margin: auto; */
}

.footer a {
  margin: auto;
}

@media screen and (max-width: 767px) {
  #sidebar { display: none; }
}